.main-container-table--slider {
    width: 930px;
    margin: 0 auto;
}
.product-cards--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider {
justify-content: center;
}
